<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Segunda Entrega</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

       
</head>


<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top " style="background-color:#1FB2EF;">
        <a class="navbar-brand mb-0 h1" href="/">Educación Continua</a>
        <div class="collapse navbar-collapse" id="navbarCollapse"> 
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/verCursos">Ver cursos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="verInscritos">Ver inscritos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/inscribir">Inscribir</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/crear">Crear curso</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body style="padding-top: 80px;">
<main role="main" class="container mt-5" >

