{{>header}}
	<h1>Ver Cursos</h1>
	<table class="table">
		<tr>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Valor</th>
			<th>Cerrar</th>
		</tr>
		{{{ListarCursos}}}
	</table>
{{>footer}}